<header class="header">
    <section class="header__brandline">
        <a class="header__brandname" routerLink="/">Reignarr</a>
    </section>

    <!-- Todo: router events -->
    <section class="header__nav">
        <!--[ngStyle]="{'color': router.url === '/' ? '#ebebeb' : 'black'}"-->
        <div class="header__nav-main">
            <a routerLink="/">Home</a>
            <a>Lookbook</a>
            <a routerLink="/shop">Shop</a>
        </div>
        <div class="header__nav-main">
            <a>Blog</a>
            <a>Store Location</a>
            <a>Stocklists</a>
        </div>
    </section>
</header>
