.apparels {
  display: flex;
  flex-wrap: wrap;

  &__apparel {
    height: 200px;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 150px;
    height: 225px;
  }
}
