<div class="home">
  <home-entrance></home-entrance>
</div>

<!-- <div class="mnFullPage" mnFullpage="options">
  <section class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      1
    </div>
  </section>
  <section class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      2
    </div>
  </section>
  <section class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      3
    </div>
  </section>
</div> -->
